<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>
        <header>
            <div class="bg-dark text-center mb-5" style="">
            <h1>
                        Dans Ma Maison !
            </h1>
                {% if app.user %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href=" {{ path('default') }} "> Acceuil</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('profil', {'id': app.user.id}) }}">{{ app.user.firstName }}  {{ app.user.lastname }}</a>
                        </li>

                    </ul>
                </div>
                {{ render(controller(
                    'App\\Controller\\UserController::search'
                )) }}
                </nav>
                {% endif  %}
            </div>
        </header>
            <div class="container">
                {% block body %}
                {% endblock %}
                {% block javascripts %}
                {% endblock %}
            </div>
    </body>
</html>
