{% extends 'base.html.twig' %}
    {% block title %}   {{ article.title }} {% endblock %}

{% block body %}
    <h1 class="text-center lead mt-5">{{ article.title }}</h1>
    <div class="container">
        <div class="text-center mt-5 ">
            <img src="{{ article.image }}" style="min-width: 30%;" alt=" ">
        </div>
        <div class="mt-5">
            <p class="text-left">
                <small>Article crée le {{ article.createdAt | date('d/m/y')}} {{ article.createdAt | date('h:i') }} par {{ article.author }}</small>
            </p>
        </div>
        <p>
            {{ article.content | raw }}
        </p>
    </div>

{% endblock %}