{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %} Article !  {% endblock %}

{% block body %}
    <h1 class="text-center">
        {% if editMode %}
        Editer l'article
        {% else %}
        Crée un nouvelle article !
        {% endif %}
    </h1>
    <section class="container">
        {{ form_start(form) }}

        {{ form_row(form.title, {'attr': {'placeholder': "Titre de l'article!"}}) }}
        {{ form_row(form.category) }}
        {{ form_row(form.content, {'attr': {'class': 'content'}})  }}
        {{ form_row(form.image) }}
        <button type="submit" class="btn btn-primary">
            {% if editMode %}
                Enregistrer
            {% else %}
                Ajouter l'article
            {% endif %}
        </button>
        {{ form_end(form) }}
    </section>
    {% endblock %}

    {% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="trumbowyg/dist/trumbowyg.min.js"></script>
        <script>
            // Doing this in a loaded JS file is better, I put this here for simplicity
            $('#article_content').trumbowyg();
        </script>
{% endblock %}