{% extends 'base.html.twig' %}

{% block body %}

    <header>
        <div class="col-10 mx-auto">
            <h1 class="lead text-center">{{ user| length }} résultats trouvée pour {{ query }}</h1>
        </div>
    </header>
    <main>
        {% for user in user %}
        <div class="col-10 mx-auto mt-2 border rounded p-3 row">
            <img src="{{ asset('build/images/user.png') }}" style="max-height: 50px;" alt="image user">
            <a href="{{ path('profil', {'id': user.id}) }}" methods="POST"><p class="lead ml-2">{{ user.firstName }} {{ user.lastName }}</p></a>
        </div>
        {% endfor %}
            </main>


{% endblock %}
